@{
    ViewBag.Title = "This is a page for Nepali";
}
<p></p>
<p></p>
<h4>@ViewBag.Title.</h4>

<address>
    Yugesh Bhattarai<br />
    Colorado Springs, CO<br />
    <abbr title="Phone">P:</abbr>
    808.675.6285
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yugesh.bhattarai@outlook.com">Yugesh.bhattarai@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:yugeshbhattarai@gmail.com">Yugeshbhattarai@gmail.com</a>
</address>
