
@{
    
}



<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>


<body>


    <p>
        <br />
    </p>
    <center>
        <font face="Roboto" size="20" color="Red">Nepali</font><br />
    </center>

    <table>
        <tr>
            <content>Hello</content>
            <td>Aasish</td>
            <td>Aasish</td>
            <td>Aasish</td>
            <td>Aasish</td>
        </tr>
        <tr>
            <td>Aasish</td>
            <td>Aasish</td>
            <td>Aasish</td>
            <td>Aasish</td>

        </tr>


    </table>

    <p>
        <input type="button" value=" क " Name="btn_N1" style="width:40px" "      />
        <input type="button" value=" ख " Name="btn_N2" style="width:40px" "      />
        <input type="button" value=" ग " Name="btn_N3" style="width:40px" "      />
        <input type="button" value=" घ " Name="btn_N4" style="width:40px" "      />
        <input type="button" value=" ङ " Name="btn_N5" style="width:40px" "      />
    </p>


    <p>
        <input type="button" value=" च " Name="btn_N6" style="width:40px" "" />
        <input type="button" value=" छ " Name="btn_N7" style="width:40px" "      />
        <input type="button" value=" ज " Name="btn_N8" style="width:40px" "      />
        <input type="button" value=" झ " Name="btn_N9" style="width:40px" "      />
        <input type="button" value=" ञ " Name="btn_N10" style="width:40px" "      />
    </p>

    <p>
        <input type="button" value=" ट " Name="btn_N11" style="width:40px" "" />
        <input type="button" value=" ठ " Name="btn_N12" style="width:40px" "      />
        <input type="button" value=" ड " Name="btn_N13" style="width:40px" "      />
        <input type="button" value=" ढ " Name="btn_N14" style="width:40px" "      />
        <input type="button" value=" ण " Name="btn_N15" style="width:40px" "      />
    </p>


    <p>
        <input type="button" value=" त " Name="btn_N16" style="width:40px" "      />
        <input type="button" value=" थ " Name="btn_N17" style="width:40px" "      />
        <input type="button" value=" द " Name="btn_N18" style="width:40px" "      />
        <input type="button" value=" ध " Name="btn_N19" style="width:40px" "      />
        <input type="button" value=" न " Name="btn_N20" style="width:40px" "      />
    </p>

    <p>
        <input type="button" value=" प " Name="btn_N16" style="width:40px" "      />
        <input type="button" value=" फ " Name="btn_N17" style="width:40px" "      />
        <input type="button" value=" ब " Name="btn_N18" style="width:40px" "      />
        <input type="button" value=" भ " Name="btn_N19" style="width:40px" "      />
        <input type="button" value=" म " Name="btn_N20" style="width:40px" "      />
    </p>

    <p>
        <input type="button" value=" य " Name="btn_N16" style="width:40px" "      />
        <input type="button" value=" र " Name="btn_N17" style="width:40px" "      />
        <input type="button" value=" ल " Name="btn_N18" style="width:40px" "      />
        <input type="button" value=" व " Name="btn_N19" style="width:40px" "      />
        <input type="button" value=" श " Name="btn_N20" style="width:40px" "      />
    </p>


    <p>
        <input type="button" value=" ष " Name="btn_N16" style="width:40px" "      />
        <input type="button" value=" स " Name="btn_N17" style="width:40px" "      />
        <input type="button" value=" ह " Name="btn_N18" style="width:40px" "      />
        <input type="button" value=" क्ष " Name="btn_N19" style="width:40px" "      />
        <input type="button" value=" त्र " Name="btn_N20" style="width:40px" "      />
    </p>

    <p>
        <center>
            <input type="button" value=" ज्ञ " Name="btn_N16" style="width:40px" "       />
        </center>
    </p>

</body>

</html>


