
@{
    
}



<!DOCTYPE html>
<html>

<head>
   

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


    <style>
        table,
        th,
        table {
            align-content: center;
            gap: 20px 20px;
            border-spacing: 20px;
        }
    </style>


</head>


<body>

    <p>
        <br />
        <br />
        <br />
        <br />
        <br />
    </p>
    <center>
        <font face="Roboto" size="20" color="Red">Nepali</font><br />
    </center>
    <p>

        <br />
        <br />
        <br />
        <br />
    </p>
    <table style="width:100%">

        <tr>
        </tr>
        <tr>
            <th style="align-content:center">Nepali Consonants</th>
            <th>Nepali Vowels</th>
            <th>Nepali Numbers</th>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>

        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#1" style="width:40px">
                    क
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#2" style="width:40px">
                    ख
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#3" style="width:40px">
                    ग
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#4" style="width:40px">
                    घ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#5" style="width:40px">
                    ङ
                </button>

            </td>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#37" style="width:40px">
                    अ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#38" style="width:40px">
                    आ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#39" style="width:40px">
                    इ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#40" style="width:40px">
                    ई
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#41" style="width:40px">
                    उ
                </button>
            </td>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#50" style="width:40px">
                    १
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#51" style="width:40px">
                    २
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#52" style="width:40px">
                    ३
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#53" style="width:40px">
                    ४
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#54" style="width:40px">
                    ५
                </button>
            </td>
        </tr>

        <tr>
            <td>
                <br />
            </td>
        </tr>


        <tr>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#6" style="width:40px">
                    च
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#7" style="width:40px">
                    छ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#8" style="width:40px">
                    ज
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#9" style="width:40px">
                    झ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#10" style="width:40px">
                    ञ
                </button>

            </td>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#42" style="width:40px">
                    ऊ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#43" style="width:40px">
                    ॠ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#44" style="width:40px">
                    ए
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#45" style="width:40px">
                    ऐ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#46" style="width:40px">
                    ओ
                </button>
            </td>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#55" style="width:40px">
                    ६
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#56" style="width:40px">
                    ७
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#57" style="width:40px">
                    ८
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#58" style="width:40px">
                    ९
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#59" style="width:40px">
                    ०
                </button>

            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>

        <tr>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#11" style="width:40px">
                    ट
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#12" style="width:40px">
                    ठ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#13" style="width:40px">
                    ड
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#14" style="width:40px">
                    ढ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#15" style="width:40px">
                    ण
                </button>

            </td>
            <td>


                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#47" style="width:40px">
                    औ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#48" style="width:40px">
                    अं
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#49" style="width:40px">
                    अ:
                </button>

            </td>
        </tr>

        <tr>
            <td>
                <br />
            </td>
        </tr>


        <tr>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#16" style="width:40px">
                    त
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#17" style="width:40px">
                    थ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#18" style="width:40px">
                    द
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#19" style="width:40px">
                    ध
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#20" style="width:40px">
                    न
                </button>

            </td>
        </tr>

        <tr>
            <td>
                <br />
            </td>
        </tr>

        <tr>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#21" style="width:40px">
                    प
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#22" style="width:40px">
                    फ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#23" style="width:40px">
                    ब
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#24" style="width:40px">
                    भ
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#25" style="width:40px">
                    म
                </button>

            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>

        <tr>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#26" style="width:40px">
                    य
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#27" style="width:40px">
                    र
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#28" style="width:40px">
                    ल
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#29" style="width:40px">
                    व
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#30" style="width:40px">
                    श
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>

        <tr>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#31" style="width:40px">
                    ष
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#32" style="width:40px">
                    स
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#33" style="width:40px">
                    ह
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#34" style="width:40px">
                    क्ष
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#35" style="width:40px">
                    त्र
                </button>


            </td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>

        <tr>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#36" style="width:40px">
                    ज्ञ
                </button>

            </td>
        </tr>
    </table>






    @*Modal*@
    <div class="modal fade"
         id="1"
         tabindex="-1"
         role="dialog"
         aria-labelledby="kaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="1" src="https://localhost:44395/Image/NepaliConsonants/1.png"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="2"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="2" src="https://localhost:44395/Image/NepaliConsonants/2.png" sizes="20,20"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="3"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="3" src="https://localhost:44395/Image/NepaliConsonants/3.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="4"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="4" src="https://localhost:44395/Image/NepaliConsonants/4.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="5"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="5" src="https://localhost:44395/Image/NepaliConsonants/5.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="6"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="6" src="https://localhost:44395/Image/NepaliConsonants/6.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="7"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="7" src="https://localhost:44395/Image/NepaliConsonants/7.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="8"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="8" src="https://localhost:44395/Image/NepaliConsonants/8.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="9"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="9" src="https://localhost:44395/Image/NepaliConsonants/9.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="10"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="10" src="https://localhost:44395/Image/NepaliConsonants/10.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="11"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="11" src="https://localhost:44395/Image/NepaliConsonants/11.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="12"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="12" src="https://localhost:44395/Image/NepaliConsonants/12.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="13"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="13" src="https://localhost:44395/Image/NepaliConsonants/13.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="14"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="14" src="https://localhost:44395/Image/NepaliConsonants/14.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="15"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="15" src="https://localhost:44395/Image/NepaliConsonants/15.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="16"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="16" src="https://localhost:44395/Image/NepaliConsonants/16.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="17"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="17" src="https://localhost:44395/Image/NepaliConsonants/17.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="18"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="18" src="https://localhost:44395/Image/NepaliConsonants/18.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="19"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="19" src="https://localhost:44395/Image/NepaliConsonants/19.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="20"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="20" src="https://localhost:44395/Image/NepaliConsonants/20.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="21"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="21" src="https://localhost:44395/Image/NepaliConsonants/21.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="22"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="22" src="https://localhost:44395/Image/NepaliConsonants/22.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="23"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="23" src="https://localhost:44395/Image/NepaliConsonants/23.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="24"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="24" src="https://localhost:44395/Image/NepaliConsonants/24.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="25"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="25" src="https://localhost:44395/Image/NepaliConsonants/25.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="26"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="26" src="https://localhost:44395/Image/NepaliConsonants/26.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="27"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="27" src="https://localhost:44395/Image/NepaliConsonants/27.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="28"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="28" src="https://localhost:44395/Image/NepaliConsonants/28.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="29"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="29" src="https://localhost:44395/Image/NepaliConsonants/29.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="30"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="30" src="https://localhost:44395/Image/NepaliConsonants/30.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="31"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="31" src="https://localhost:44395/Image/NepaliConsonants/31.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="32"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="32" src="https://localhost:44395/Image/NepaliConsonants/32.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="33"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="33" src="https://localhost:44395/Image/NepaliConsonants/33.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="34"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="34" src="https://localhost:44395/Image/NepaliConsonants/34.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="35"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="35" src="https://localhost:44395/Image/NepaliConsonants/35.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="36"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="36" src="https://localhost:44395/Image/NepaliConsonants/36.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"
         id="37"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="37" src="https://localhost:44395/Image/NepaliVowels/37.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="38"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="38" src="https://localhost:44395/Image/NepaliVowels/38.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="39"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="39" src="https://localhost:44395/Image/NepaliVowels/39.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="40"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="40" src="https://localhost:44395/Image/NepaliVowels/40.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="41"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="41" src="https://localhost:44395/Image/NepaliVowels/41.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="42"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="42" src="https://localhost:44395/Image/NepaliVowels/42.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="43"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="43" src="https://localhost:44395/Image/NepaliVowels/43.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="44"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="44" src="https://localhost:44395/Image/NepaliVowels/44.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="45"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="45" src="https://localhost:44395/Image/NepaliVowels/45.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="46"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="46" src="https://localhost:44395/Image/NepaliVowels/46.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="47"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="47" src="https://localhost:44395/Image/NepaliVowels/47.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="48"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="48" src="https://localhost:44395/Image/NepaliVowels/48.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="49"
         tabindex="-1"
         role="dialog"
         aria-labelledby="khaLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*Add image inside the body of modal*@
                <div class="modal-body">
                    <img id="49" src="https://localhost:44395/Image/NepaliVowels/49.png" sizes="120,120"
                         alt="Click on button" />
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>





    @*Adding scripts to use bootstrap*@
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>




</body>

</html>


